@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
LOADER
*/

/* Loader Styles */
@keyframes clockwise {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes counter-clockwise {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(-360deg);
    }
  }
  
  /* Loader Overlay */
  #loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #030712;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  /* Gearbox Styles */
  .gearbox {
    background: #111;
    height: 150px;
    width: 200px;
    position: relative;
    border: none;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.1);
  }
  
  .gearbox .overlay {
    border-radius: 6px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    box-shadow: inset 0px 0px 20px black;
    transition: background 0.2s;
  }
  
  .gearbox .overlay {
    background: transparent;
  }
  
  .gear {
    position: absolute;
    height: 60px;
    width: 60px;
    box-shadow: 0px -1px 0px 0px #888888, 0px 1px 0px 0px black;
    border-radius: 30px;
  }
  
  .gear.large {
    height: 120px;
    width: 120px;
    border-radius: 60px;
  }
  
  .gear.large:after {
    height: 96px;
    width: 96px;
    border-radius: 48px;
    margin-left: -48px;
    margin-top: -48px;
  }
  
  .gear.one {
    top: 12px;
    left: 10px;
  }
  
  .gear.two {
    top: 61px;
    left: 60px;
  }
  
  .gear.three {
    top: 110px;
    left: 10px;
  }
  
  .gear.four {
    top: 13px;
    left: 128px;
  }
  
  .gear:after {
    content: "";
    position: absolute;
    height: 36px;
    width: 36px;
    border-radius: 36px;
    background: #111;
    top: 50%;
    left: 50%;
    margin-left: -18px;
    margin-top: -18px;
    z-index: 3;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1), inset 0px 0px 10px rgba(0, 0, 0, 0.1), inset 0px 2px 0px 0px #090909, inset 0px -1px 0px 0px #888888;
  }
  
  .gear-inner {
    position: relative;
    height: 100%;
    width: 100%;
    background: #555;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .large .gear-inner {
    border-radius: 60px;
  }
  
  .gear.one .gear-inner {
    animation: counter-clockwise 3s infinite linear;
  }
  
  .gear.two .gear-inner {
    animation: clockwise 3s infinite linear;
  }
  
  .gear.three .gear-inner {
    animation: counter-clockwise 3s infinite linear;
  }
  
  .gear.four .gear-inner {
    animation: counter-clockwise 6s infinite linear;
  }
  
  .gear-inner .bar {
    background: #555;
    height: 16px;
    width: 76px;
    position: absolute;
    left: 50%;
    margin-left: -38px;
    top: 50%;
    margin-top: -8px;
    border-radius: 2px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .large .gear-inner .bar {
    margin-left: -68px;
    width: 136px;
  }
  
  .gear-inner .bar:nth-child(2) {
    transform: rotate(60deg);
  }
  
  .gear-inner .bar:nth-child(3) {
    transform: rotate(120deg);
  }
  
  .gear-inner .bar:nth-child(4) {
    transform: rotate(90deg);
  }
  
  .gear-inner .bar:nth-child(5) {
    transform: rotate(30deg);
  }
  
  .gear-inner .bar:nth-child(6) {
    transform: rotate(150deg);
  }
  
  /* Optional: Style for the main content */
  #content {
    display: none; /* Hidden initially until the page is fully loaded */
  }


  /* 
  MAIN CONTENT
  */
  .jarallax {
    position: relative;
    z-index: 0;
  }
  .jarallax > .jarallax-img,
  picture.jarallax-img img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .jarallax-keep-img {
    position: relative;
    z-index: 0;
}
.jarallax-keep-img > .jarallax-img {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    z-index: -100;
    opacity: 0;
}


/* demo styles */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 20px;
    margin: 0;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: #ffffff;
    background-color: #000;
}
h1, h2, h3 {
    color: #f3f4f6;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
}
p {
    margin-top: 0;
    margin-bottom: 5px;
}
p ~ p,
p ~ div {
    margin-top: 15px;
}

small {
    font-size: 80%;
    opacity: 0.6;
}
a, a:visited, a:hover, a:focus {
    color: inherit;
}
a:hover, a:focus {
    color: #4f4f4f;
}
.jarallax {
    min-height: 600px;
}
.jarallax-keep-img.demo-float-left {
    margin-right: 15px;
    margin-left: -60px;
}
.jarallax-keep-img.demo-float-right {
    margin-left: 15px;
    margin-right: -60px;
}

@media screen and (max-width: 600px) {
    .jarallax-keep-img.demo-float-left,
    .jarallax-keep-img.demo-float-right {
        margin-right: 0;
        margin-left: 0;
        float: none;
    }
}


/* Lighter background */
.lighter-bg {
    background-color: #0f0f11;
}

/* hero block */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 500px;
    height: calc(100vh - 220px);
}
.hero h1 {
    font-size: 80px;
    font-size: clamp(32px,7.5vw,80px);
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1;
    letter-spacing: -0.01em;
    font-weight: 800;
}
.hero.jarallax > .jarallax-img img,
.hero.jarallax > .jarallax-container img {
    filter: blur(3px);
}
.hero-name {
    font-size: 20px;
    font-size: clamp(17px,2vw,20px);
    font-weight: 300;
    letter-spacing: 1.1em;
    letter-spacing: clamp(1em,2vw,1.1em);
    margin-bottom: 20px;
    text-transform: uppercase;
}
.hero + .demo-gap {
    min-height: 230px;
}

.text-center {
    text-align: center;
}

.jarallax > .jarallax-img,
.jarallax > .jarallax-container,
.jarallax-keep-img > .jarallax-container {
    opacity: 0.5;
}

/* buttons */
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
* + .buttons {
    margin-top: 20px;
}
a.button {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding: 12px;
    border-radius: 4px;
    min-width: 200px;
    background-color: #fff;
    color: #000;
    transition: background-color .3s ease, transform .3s ease, box-shadow .3s ease;
}
a.button:hover,
a.button:focus {
    background-color: rgba(255, 255, 255, 0.8);
    transform: translateY(-2px);
}
a.button-outline {
    background-color: transparent;
    color: #fff;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
a.button-outline:hover,
a.button-outline:focus {
    background-color: transparent;
    box-shadow: inset 0 0 0 1px #fff;
}

/* gap */
.demo-gap {
    padding: 50px;
    overflow: hidden;
}
.demo-gap h1,
.demo-gap h2,
.demo-gap h3 {
    text-align: center;
}
.demo-gap .container {
    max-width: 800px;
    margin: 0 auto;
}

/* Demo Content */
.demo-content {
    padding: 80px;
}


/* Float */
.demo-float-left {
    float: left;
}
.demo-float-right {
    float: right;
}


/* Footer */
.footer {
    text-align: center;
}


/* Mobile */
@media screen and (max-width: 500px) {
    .demo-gap,
    .demo-content {
        padding: 50px 30px;
    }
}
